*{
  box-sizing: border-box;
}

body {
  /* Background image and gradient */
   background: fixed,
    linear-gradient(to bottom, #29BAAF 10%,#2C085E 100%);
    background-color: #0DE6D7;
    font-family: 'Hind', sans-serif;
    color: #505050;
    text-transform: uppercase;
  }

.stats, .navwrapper {
  background-color: #FFF5C3;
  border-radius: 2em;
  padding: 1em 1em;
  margin-top: 20em;
  margin-bottom: 20em;
}

/*STATS SECTION*/

.stats img {
  height: 15em;
  width: 20%;
  margin-right: 1em;
  margin-left: 2em;
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.picStat div{
  width: 0;
  height: 2em;
  background-color: green;
}
.statsWrapper div{
  margin: .5em;
}

.statsWrapper {
  width:70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em 2em;
}


/*TOP NAV*/

.navWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;

/*  background-color: #FFF5C3;
  border-radius: 2em;
  padding: 1em 1em;*/
  height: 27em;
  /*width:100%;*/
}

.emptyDiv {
  background-color: purple;
    margin:.5em .5em;
  border-radius: 1em;
  padding: .5em .5em;
  height: auto;
}

#aboutMe, #contactMe , #portfolio, #socialMedia, #recommendations, #summary{
/*  width: 10em;
  height: 5em;*/
  background-color: orange;
  margin:.5em .5em;
  border-radius: 1em;
  padding: .5em .5em;
  text-align: center;
}
#summary {
  text-align: justify;
  text-overflow: ellipsis;
  width: 30%;

}
.navWrapper>* {
  flex: auto;
    }

/*END OF TOP NAV*/

