*{
  box-sizing: border-box;
}

body {
  /* Background image and gradient */
   background: fixed,
    linear-gradient(to bottom, #29BAAF 20%,#2C085E 80%);
    background-color: #0DE6D7;
    font-family: 'Hind', sans-serif;
    /*font-family: 'Shrikhand', cursive;*/
/*    font-family: 'Open Sans', sans-serif;*/
    color: #505050;
    text-transform: uppercase;
  }

.stats, .navwrapper ,.portfolioWrapper, .formWrapper{
  background-color: #FFF5C3;
  border-radius: 2em;
  padding: 1em 1em;
  margin-top: 0em;
  margin-bottom: 20em;
}



/*TOP NAV*/
 h1 {
  font-weight: 800px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: -.3em;
  margin-left: 1em;
  font-size: 4em;
  color:  #FFF5C3;
}

.navWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: 27em;
}

.emptyDiv  {
  background-color: purple;
    margin:.5em .5em;
  border-radius: .5em;
  padding: .5em .5em;
  height: auto;
}

#aboutMe, #contactMe , #portfolio, #socialMedia, #recommendations, #summary {
  background-color: orange;
  margin:.5em .5em;
  border-radius: .5em;
  padding: .5em .5em;
  text-align: center;
}

#summary {
  text-align: center;
  justify-content: center;
  padding: 1.61em 1.61em;
  width: 35%;
}

.navWrapper>* {
  flex: auto;
    }

/*END OF TOP NAV*/

/*STATS SECTION*/

.stats img {
  height: 23em;
  width: 18%;
  margin-right: 1em;
  margin-left: 2.5em;
  margin-top: 2.5em;
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 27em;
}

.picStat div{
  width: 0;
  height: 2em;
  margin-bottom: 1.5em;
  background-color: green;
}
.stats p{
  font-size: .9em;
  color: #FFF5C3;
  padding-left: 1em;
  margin-top: .3em;
  letter-spacing: .75em;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

.statsWrapper {
  width:70%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em 1em;
}

.picStat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*END OF STATS*/

/*START OF PORTFOLIO*/
.portfolioWrapper img{
  width:25%;
  height: auto
}
/*END OF PORTFOLIO*/


/*START OF CONTACTFORM*/



/*END OF CONTACTFORM*/

